* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at top, #111 0%, #000 60%);
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brand {
  color: orange;
  font-size: 3rem;
  margin-bottom: 5px;
}

.subtitle {
  color: gray;
  margin-bottom: 30px;
}

.login-card {
  background-color: #1a1a1a;
  padding: 30px;
  border-radius: 12px;
  width: 340px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-size: 0.9rem;
}

input {
  margin-top: 5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
  background-color: #2a2a2a;
  color: white;
}

button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-login {
  background-color: orange;
  color: black;
  font-weight: bold;
}

.divider {
  text-align: center;
  margin: 15px 0;
  color: gray;
}

.btn-google {
  width: 100%;
  background-color: #fff;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  font-weight: 500;
}

.google-icon {
  width: 18px;
  height: 18px;
}




#mensaje {
  margin-top: 15px;
  text-align: center;
}
