@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .metrics {
    flex-direction: column;
  }

  #vinylForm {
    flex-direction: column;
  }
}

:root {
  --bg-main: #000000;
  --bg-card: #1a1a1a;
  --bg-card-light: #222222;
  --text-main: #ffffff;
  --text-muted: #9ca3af;
  --accent: #ffa500; 
  --danger: #dc3545;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg-main);
  color: var(--text-main);
}

.layout {
  display: flex;
  min-height: 100vh;
}

/* Aside*/
.sidebar {
  display: flex;
  flex-direction: column;
  width: 220px;
  background-color: #000;
  padding: 20px;
}


.menu a:link,
.menu a:visited {
  color: var(--text-muted);
  text-decoration: none;
}

.menu a:hover,
.menu a:active {
  color: var(--accent);
  text-decoration: none;
}


.sidebar h2 {
  color: var(--accent);
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  
}

.sidebar li {
  margin-bottom: 15px;
  color: var(--text-muted);
}

/* main */
.main {
  flex: 1;
  padding: 20px;
}

/* metricas*/
.metrics {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.metric {
  background-color: var(--bg-card);
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.metric h3 {
  color: var(--text-muted);
}

.metric p {
  font-size: 28px;
  color: var(--accent);
  margin: 10px 0 0;
}

/* sections */
.form-section,
.table-section {
  background-color: var(--bg-card);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* form*/
input {
  padding: 8px;
  margin-right: 10px;
  background-color: var(--bg-card-light);
  border: none;
  color: var(--text-main);
}

.form-section h2 {
  margin-bottom: 16px;  
}

#vinylForm {
  display: flex;
  gap: 10px;            
}

button {
  padding: 8px 15px;
  background-color: var(--accent);
  color: #000;
  border: none;
  border-radius: 8px;
  font-weight: bold;
}

.btn-salir {
  display: inline-block;
  margin-top: 498px;
  background-color: #ffa500;
  border-radius: 8px;
  border: none;
  padding:  8px 8px;
  color: #000;
  font-weight:lighter;
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
  
}


/* table */
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 10px;
  color: var(--text-muted);
}

td {
  padding: 10px;
  border-top: 1px solid #333;
}

.delete {
  background-color: var(--danger);
  color: white;
  border: none;
  border-radius: 5px;
}
